<!-- Contact -->
<div class="container">
	<section class="bio-contact">
	<div class="bio">
		<p class="more-info">If you have any questions please reach out to us:<br> <a href="mailto:kiotasportsacademy@gmail.com">Email us</a></p>
			</div>
			
			<section class="contact" id="contact">
			<h2>Contact us to learn more or join</h2>
			<form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify-recaptcha="true" data-netlify="true">
				<p class="hidden">
			    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
			  </p>
			  <p>
			    <label>Your Name: <input type="text" name="name" /></label>   
			  </p>
			  <p>
			    <label>Your Email: <input type="email" name="email" /></label>
			  </p>
			  <p>
			    <label>Message: <textarea name="message"></textarea></label>
			  </p>
			  <p>
			    <button type="submit">Send</button>
			  </p>
			</form>
	       </section>
	
	</section>
</div>