<footer>
	<div class="container">
		<ul class="social">
			<li><a target="_blank" href="https://www.instagram.com/kiotasports/"><img height="24px" src="/img/instagram.png"></a></li>
			<li><a target="_blank" href="https://www.facebook.com/kiotasportsacademy/"><img height="24px" src="/img/facebook.png"></a></li>
		</ul>
		<p>Copyright &copy; 2020 Kiota Sports Academy. All Rights Reserved.</p>
	</div>
</footer>

<script src="/app.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>

<script type="text/javascript">
$(document).on('ready', function() {
  $(".carousel").slick({
    dots: false,
    infinite: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    responsive: [
        {
          breakpoint: 800,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 550,
          settings: {
            slidesToShow: 2
          }
        }
      ]
  });
});
</script>